<div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Summary statistics for &apos;<strong><span class='node-app-title'>{{currentCtx.currentApp}}</span></strong>&apos; <span>{{currentCtx.currentHostConfig.host}}:{{currentCtx.currentHostConfig.pid}}</span> from <span class='trace-timestamp'>{{tsText(currentCtx.currentTrace.metadata.timestamp)}}</span>
      </h3>
    </div>

    <div class="panel-body">
      <div class='row'>
        <div class='col-sm-6'>
          <table class="table table-striped table-hover">
            <tr>
              <td>
                Total time executing javascript
              </td>
              <td id='summary-js-micros'>
                {{ msFormat(currentCtx.currentTrace.summary_stats.jsMicros) }}
              </td>
            </tr>
            <tr>
              <td>
                Profile time duration
              </td>
              <td id='summary-window-micros'>
                {{msFormat(currentCtx.currentTrace.summary_stats.windowMicros)}}
              </td>
            </tr>
            <tr>
              <td>
                Synchronous code execution
              </td>
              <td id='summary-percent-blocked'>
                {{currentCtx.currentTrace.summary_stats.percentBlocked.toFixed(2)}} %
              </td>
            </tr>
            <tr>
              <td>
                Asynchronous wait time
              </td>
              <td id='summary-percent-async'>
                {{currentCtx.currentTrace.summary_stats.percentAsync.toFixed(2)}} %
              </td>
            </tr>
            <tr>
              <td>
                Application execution
              </td>
              <td id='summary-percent-operating'>
                {{currentCtx.currentTrace.summary_stats.percentOperating.toFixed(2)}} %
              </td>
            </tr>
            <tr>
              <td>
                System idle
              </td>
              <td id='summary-percent-idle'>
                {{currentCtx.currentTrace.summary_stats.percentIdle.toFixed(2)}} %
              </td>
            </tr>
          </table>
        </div>

        <div class='col-sm-3 col-push-1 center'>
          <div role='summary-async-pie'></div>
        </div>
        <div class='col-sm-3 col-pull-1 center'>
          <div role='summary-idle-pie'></div>
        </div>

      </div>
    </div>
  </div>
</div>
