<div class='monitor-view'>
  <sl-tracing-header></sl-tracing-header>
  <sl-tracing-detail-view></sl-tracing-detail-view>
  <sl-tracing-trace-view></sl-tracing-trace-view>
  <sl-tracing-time-series-chart load-trace-view="showTraceView(currentPFKey)" chart-name="cpu" current-timeline="currentTimeline" ></sl-tracing-time-series-chart>
  <sl-tracing-time-series-chart chart-name="mem" current-timeline="currentTimeline"></sl-tracing-time-series-chart>
  <sl-tracing-transaction-history></sl-tracing-transaction-history>
</div>


