<div class="inspector">
  <div class='panel panel-primary'>
    <div class="panel-heading">
      <h3 class="panel-title">Inspector</h3>
    </div>
    <sl-tracing-inspector-costtree ng-show="tracingCtx.currentFunction.type == 'flame' || 'rawTree'"></sl-tracing-inspector-costtree>
    <sl-tracing-inspector-eventloop ng-show="tracingCtx.currentFunction.type == 'eventLoop'"></sl-tracing-inspector-eventloop>
    <!--<sl-tracing-inspector-functions ng-show="currentFunction.type == 'rawTree'"></sl-tracing-inspector-functions>-->
    <ul class='list-group'>
      <li class='list-group-item'>Nothing selected</li>
    </ul>
  </div>
</div>
