<div class="tracing-header-container row panel-heading section-header">
  <div class="col-sm-5">
    <sl-tracing-breadcrumbs></sl-tracing-breadcrumbs>
  </div>
  <div class="col-sm-2">
    <div class="btn-group pm-host-select" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        {{tracingCtx.currentPMHost.host}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="host in managerHosts">
          <a href="#" ng-click="changePMHost(host)">{{host.host}}:{{host.port}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="sl-pid-selector">
      <sl-tracing-processes></sl-tracing-processes>
    </div>
  </div>
</div>



