<div class="tracing-header-container row">
  <div class="col-sm-5">
    <button ng-click="clearFeedback()" class="link-cmd pull-left">*</button>
    <h2 class="panel-title" ng-show="tracingCtx.currentPMInstance.applicationName">{{ tracingCtx.currentPMInstance.applicationName }}</h2>
  </div>
  <div class="col-sm-5">
    <select ng-model="selectedPMHost"
            ng-options="host as host.host for host in managerHosts"
            ng-change="changePMHost()">
    </select>
  </div>
  <div class="col-sm-1">
    <select ng-model="selectedProcess"
            ng-options="process as process.pid for process in tracingCtx.currentProcesses"
            ng-change="changePid()"
            ng-show="tracingCtx.currentProcesses">
    </select>
  </div>
  <div class="col-sm-1">

    <button ng-hide="!tracingCtx.currentPFKey" class="l" ng-click="closeTraceView()">back</button>
  </div>
</div>



